In [4]:
import pandas as pd

In [5]:
df = pd.read_excel (r'OppScrData.xlsx')

In [6]:
df

      Record ID  Visit ID  ...  AoCa        Agatston  Liver HU    (Median)
0          8675       415  ...              5473.561                    35
1          2236       525  ...              2709.064                    52
2          5962       542  ...                 0.000                    54
3           665       546  ...              2586.575                    57
4           478       580  ...               431.519                    53
...         ...       ...  ...                   ...                   ...
9218       9262     13510  ...                 0.000                    38
9219       9287     13511  ...               139.967                    54
9220        956     13514  ...              1115.997                    45
9221       6097     13519  ...              3515.371                    44
9222       8486     13523  ...              3015.129                    54

[9223 rows x 52 columns]