In [53]:
import pandas as pd
import math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

In [51]:
def fetch_diabetes_ct_data(oppScrData):    
    ct_data= oppScrData[["L1_HU_BMD", "TAT Area (cm2)", 'Total Body                Area EA (cm2)',
       'VAT Area (cm2)', 'SAT Area (cm2)', 'VAT/SAT     Ratio', 'Muscle HU',
       ' Muscle Area (cm2)', 'L3 SMI (cm2/m2)', 'AoCa        Agatston',
       'Liver HU    (Median)', 'Otherabnormalglucose', 'Impairedfastingglucose', 
       'TypeIIorunspecifiedtypediabetesmellituswithoutmentionofcomplication,uncontrolled', 
       'Type2diabetesmellituswithoutcomplications']];
    n = ct_data.shape[0]
    preprocessed_ct_data = []
    for i in range(n):
        row = ct_data.iloc[i]
        ignore = False
        for j in row[:]:
          if pd.isna(j) or j == ' ': # There is an empty string somewhere in Liver column
            ignore = True
            break
        if not ignore:
          preprocessed_ct_data.append(row)
    return np.array(preprocessed_ct_data, dtype=np.float32)

In [42]:
df = pd.read_excel(r'sample_data/OppScrData.xlsx')

In [43]:
# Fetch rows with the below specificed diabetes values and convert it to one-hot representation
p = ['Otherabnormalglucose', 'Impairedfastingglucose', 'TypeIIorunspecifiedtypediabetesmellituswithoutmentionofcomplication,uncontrolled', 'Type2diabetesmellituswithoutcomplications'];
df = df.loc[df["Type 2 Diabetes DX"].isin(p)]
diabetes_one_hot = pd.get_dummies(df['Type 2 Diabetes DX'])
df = pd.concat([df, diabetes_one_hot], axis=1)
df = df.drop('Type 2 Diabetes DX', axis=1)

In [55]:
# Fetch corresponding ct data values
diabetes_ct_data = fetch_diabetes_ct_data(df)

In [57]:
diabetes_ct_data[0]

array([106.       , 315.53076  , 588.89233  , 202.31795  , 113.21282  ,
         1.7870586,  -3.181874 , 168.92395  ,  47.814583 , 431.519    ,
        53.       ,   1.       ,   0.       ,   0.       ,   0.       ],
      dtype=float32)

In [ ]:
df